<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    
    <link rel="stylesheet" href="/public/css/admin/bootstrap.min.css">
    <script src="/public/js/admin/seed.min.js"></script>
    <script src="/public/js/admin/vue.js"></script>
    <script src="/public/js/admin/axios.min.js"></script>
    <script src="/public/js/admin/bootstrap.min.js"></script>
    <link href="/public/css/admin/elementUI.css" rel="stylesheet">
    <script src="/public/js/admin/elementUI.js"></script>
</head>
<style>
#main_content {
    padding: 100px 0;
}
#content {
    
}

</style>
<body>
    <div id="main_content">

    <div id="content" class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>登录</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <el-form>
            <el-form-item label="用户名" prop="id">
                <el-input placeholder="" v-model="username" auto-complete="off" ></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="id">
                <el-input placeholder="" v-model="password" auto-complete="off" ></el-input>
            </el-form-item>
            <el-form-item label="">
              <el-button v-on:click="incept" >提交</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
    </div>

</div>
</body>
<script type="application/javascript">
  new Vue({
    el: '#main_content',
    data: {
      username: '',
      password: '',
    },
    created: function () {

    },
    methods: {
      async incept() {
        if (!this.username || !this.password) {
          alert('请填写用户名和密码');
          return;
        }

        try {
          const response = await axios.post('login', { username: this.username, password: this.password });
          const result = response.data;
          console.log(result);
          if (result && result.success) {
            window.location.href = "/admin";
          } else {
            alert('登录失败 '+(result && (result.info || result.msg)));
          }
        } catch (error) {
          alert('登录失败，账号或密码错误');
        }
      },
    
    }
  })

</script>

</html>
